*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(202, 165, 235);
}
img{
    border-radius: 40%;
    box-shadow: 5px 5px 7px ;
}
.datos{
    margin: 3px;
    text-align: center;
    font-style: italic;
}

#foto{
    margin: 15px;
    padding: 20px;
    border: solid red !important;
}
div{
    text-align: center;
}