*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contenedor{
    background-color: wheat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-wrap: nowrap;
}

.Caja{
    border: solid black;
    height: 200px;
    width: 200px;
    margin: 20px;
}

.Caja2{
    border: solid black;
    background-color: blue;
    height: 200px;
    width: 200px;
    margin: 20px;
}

#particular{
display: inline-block;
background-color: aqua;
}